<div class="container">
    <div class="header clearfix">
        <h3 class="text-primary"><a href="/">Delay<span class="text-muted">la</span></a></h3>
    </div>

    <div class="jumbotron">
        <h1 class="display-5">Delay HTTP requests with ease</h1>
        <p class="lead">Got an endpoint whose response you want to delay without changing any server code?<br/>
            Delayla helps you with a simple online service.</p>
        <form class="form-inline" action="/" method="get">
            <div class="form-group">
                <label class="sr-only" for="urlInput">URL</label>
                <input type="url" class="form-control" id="urlInput" name="url" placeholder="Enter url"
                       required="required">
            </div>
            <div class="form-group">
                <label class="sr-only" for="delayInput">Delay amount</label>
                <div class="input-group">
                    <input type="number" min="1" max="10" value="3" name="delay" class="form-control" id="delayInput"
                           placeholder="secs" required="required">
                    <div class="input-group-addon">secs</div>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success">Generate delay url</button>
        </form>
        {{#if delayUrl}}
            <div class="m-t-2">
                <p>Send request to:</p>
                <input class="form-control form-control-lg" type="url" onclick="this.select()" readonly='readonly'
                       value="{{{delayUrl}}}"/>
            </div>
        {{/if}}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Getting started</h3>
            <p>Change the endpoint url to
                <code>{{{url}}}/delay/_YOUR_URL_HERE_/for/_SECONDS_HERE_</code> and run the request.
                Delayla will automatically wait the specified number of seconds and then redirect to the given URL.</p>
            <p>Example 1: Delay a request to <code>http://api.myapp.com/list</code> for 4 seconds by calling
                <code>{{{url}}}/delay/http%3A%2F%2Fapi.myapp.com%2Flist/for/4</code>. After 4 seconds a 302 redirect to
                <code>http://api.myapp.com/list</code> will take place.
            </p>
            <p>All query parameters appended to the requested url will be merged with the query parameters already
                present at the target url.</p>
            <p>Example 2: Delay a request to <code>http://api.myapp.com/details?id=3</code> by 2 seconds. Calling
                <code>{{{url}}}/delay/http%3A%2F%2Fapi.myapp.com%2Fdetails%3Fid%3D3/for/2?jsonp=awesome</code> will
                result in a two second delay and redirect to
                <code>http://api.myapp.com/details?id=3&jsonp=awesome</code></p>

            <h3>Why</h3>
            <p>Sometimes you have to test your user interface or application behavior in the state of loading. Making
                sure that no additional action can be triggered or the loading animation looks nice.</p>
            <p>However, not always changes to the server side code for delaying the response are possible or
                unproblematic. This is where delayla steps in and offers a convenient way to slow down network
                communication of basic requests by just changing the url.</p>

            <h3>Limitations</h3>
            <p>Due to the <a href="https://www.w3.org/TR/cors/#cross-origin-request-with-preflight-0">CORS
                specification</a> a redirect for cross-origin redirects that include a preflight check request (an
                OPTIONS request prior to the actual request) is not possible. Furthermore <code>POST</code> requests
                cannot be redirected. Thus only GET and HEAD <a
                        href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Simple_requests">simple
                    requests</a> can be delayed by delayla.</p>
        </div>
    </div>

</div> <!-- /container -->

<footer class="footer">
    <div class="container text-muted text-xs-center">
        <p>Delayla<br/><a href="https://github.com/Nolanus/delayla">Star on Github</a> | <a
                href="https://github.com/Nolanus/delayla/issues/new">Report an issue</a></p>
    </div>
</footer>